.DS_Store
*.swp
*~.nib

build/

WorkspaceState.xcuserstate

*.pbxuser
*.perspective
*.perspectivev3

YourProjectName.xcodeproj/xcuserdata/*
YourProjectName.xcodeproj/project.xcworkspace/xcuserdata/*

*.mode1v3
*.mode2v3
